.body1 {
    font-family: 'Open Sans', sans-serif;
}

.body3 {
    font-family: 'Lato', sans-serif;
}

//====== font family===== 

$font-1: 'Lora', serif;

$font-2: 'Open Sans', sans-serif;

$font-3: 'DM Serif Display', serif;

$font-4: 'Lato', sans-serif;

$font-5: 'Playfair Display', serif;

$font-6: 'Kumbh Sans', sans-serif;

$font-7: 'Domine', serif;

$font-8: 'Vidaloka', serif;

$font-9: 'Outfit', sans-serif;




//======== bg all=======


$bg1: #0A377F !important;
$bg-colro1: #073B4C !important;
$bg-color2: #FF7D00 !important;
$bg-color3: #E6EBED !important;
$bg-color4: #0B2147 !important;
$bg-color5: #ED6835 !important;
$bg-color6: #EDF2F4 !important;
$bg-color7: #335C67 !important;
$bg-color8: #F1F3F4 !important;
$bg-color9: #DEE4E6 !important;
$bg-color10: #EC665E !important;
$bg-color11: #FBE0DF !important;
$bg-color12: #FEF7F7 !important;
$bg-color13: #FDC24C !important;
$bg-color14: #073B4C !important;
$bg-color15: #F3F5F6 !important;
$bg-color16: #C4D0D4 !important;

//======== text all=======

$color-w: #fff;

$title4: #070E19;

$pera4: #505256;

$pera-color1:rgba(255, 255, 255, 0.80);

$trans1: 0.4s;


//======== font size all=======

$smoll-font: 16px;

$smoll-xl-font: 20px;

$midium-s-font: 24px;

$midium-l-font: 28px;

$midium-xl-font: 30px;

$headding-font: 44px;


//======== font weight all=======


$regular: 400;

$medium: 500;

$semibold: 600;

$bold: 700;

$ex-bold: 800;

$black: 900;
