/*
============================
Name:  Legalt Law and Attorney Template
Version: 1.0.0
Description:
Author: Noyon Ahmed
Author URI:
Location:
============================
*/


/*
Name:PLAZMA html5 landing page
Version:1.0


css list
=<::::::::::::::::::::::::::=>
hader area css
=<::::::::::::::::::::::::::=>
welcome area css
=<::::::::::::::::::::::::::=>
about area css
=<::::::::::::::::::::::::::=>
service area css
=<::::::::::::::::::::::::::=>
animation area css
=<::::::::::::::::::::::::::=>
team area css
=<::::::::::::::::::::::::::=>
case study area css
=<::::::::::::::::::::::::::=>
testimonial area css
=<::::::::::::::::::::::::::=>
button area css
=<::::::::::::::::::::::::::=>
contact us area css
=<::::::::::::::::::::::::::=>
sidebar area css
=<::::::::::::::::::::::::::=>
preloader area css
=<::::::::::::::::::::::::::=>
typography area css
=<::::::::::::::::::::::::::=>
responsive area css
=<::::::::::::::::::::::::::=>
works area css
=<::::::::::::::::::::::::::=>
common area css
=<::::::::::::::::::::::::::=>
others area css
=<::::::::::::::::::::::::::=>
blog area css
=<::::::::::::::::::::::::::=>
footer area css
=<::::::::::::::::::::::::::=>



*/





@import 'responsive'; 
@import 'typography';
@import 'variables';
@import 'common';
@import 'mixins';
@import 'components/header';
@import 'components/buttons';
@import 'components/hero';
@import 'components/about';
@import 'components/service';
@import 'components/animation';
@import 'components/case';
@import 'components/preloader';
@import 'components/sidebar';
@import 'components/team';
@import 'components/testimonial';
@import 'components/blog';
@import 'components/contact';
@import 'components/works';
@import 'components/others';
@import 'components/footer';


