

//******* footer style 1 ********

.cta1 {
    background-color: $bg1;
    .cta1-form {
        z-index: 3;
        position: relative;
        .cta1-form-input {
            input {
                padding: 14px;
                border: none;
                border-radius: 5px;
                width: 60%;
                @media #{$xs} {
                    width: 100%;
                }
            }
        }
        .cta1-button {
            position: absolute;
            top: 0;
            right: 170px;

            @media #{$md} {
                right: 138px;
            }

            @media #{$xs} {
                right: 0;
            }
            .theme-btn1.theme-btn-cta {
                border: none;
                border-radius: 0px 5px 5px 0px;
            }
        }
    }

    .cta1-shape {
        position: absolute;
        top: 60px;
        right: 0;
    }
}

.footer-area {
    background-color: $bg1;

    .hadding1-w {
        p {
            color: #CED7E5;
        }
    }

    .single-footer {
        padding-left: 10px;
        h3 {
            color: $color-w;
            font-size: $midium-s-font;
            font-style: normal;
            font-weight: $semibold;
            line-height: 30px; /* 125% */
            text-transform: capitalize;
            font-family: $font-1;
            padding-bottom: 20px;
        }
        ul {
            li{
                a {
                    color: rgba(255, 255, 255, 0.90);
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $regular;
                    line-height: 26px; /* 162.5% */
                    display: inline-block;
                    padding-bottom: 16px;
                    transition: 0.3s;
                    font-family: $font-2;
                    &:hover {
                        color: $color-w;
                        transition: 0.3s;
                        margin-left: 5px;
                    }
                }
            }
        }

        .footer-contact-box {
            display: flex;
            align-items: start;
            .footer-contact-icon {
                margin-right: 10px;
                a {
                    color: $color-w;
                    display: inline-block;
                }
            }
            .footer-contact-hadding {
                a {
                    color: $pera-color1;
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $regular;
                    line-height: 26px; /* 162.5% */
                    font-family: $font-2;
                }
            }
        }
    }
    .social {
        ul {
            li{
                display: inline-block;
                padding: 0 3px;
                a{
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                    border: 1px solid #224B8C;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    color: $color-w;
                    transition: 0.3s;
                    
                    &:hover {
                        background-color: $color-w;
                        transition: 0.3s;
                        border: 1px solid $color-w;
                        color: #0A377F;
                    }
                }
            }
        }
    }

    .copyright2 {
        border-top: 1px solid #2F5592;
        padding: 16px 0;
        .headding1-w {
            p {
                padding: 16px 0;
                font-weight: $medium;

                @media #{$xs} {
                    text-align: start !important;
                }
            }
        }
    }
}

//******* footer style 1 ********

//******* footer style 2 ********

.cta2-area {
    padding: 80px 0px 60px 0px;
    border-bottom: 1px solid #1D447A;

    .cta-form2 {
        text-align: end;
        position: relative;
        input {
            padding: 15px 24px;
            width: 70%;
            border-radius: 35px;
            background: #ffffff3a;
            border: none;
            color: $color-w;
            margin-right: 160px;

            @media #{$xs} {
                width: 100%;
          }
            

            &::placeholder {
                color: $color-w;
            }
        }

        .cta2-btn {
            position: absolute;
            right: 0;
            top: 0;
        }

        @media #{$md} {
              text-align: start; 
              margin-top: 30px; 
        }

        @media #{$xs} {
            text-align: start; 
            margin-top: 30px; 
      }
    }

}

.footer-area2 {
    padding-top: 60px;
    .headding1-w {
        p {
            color: #CED7E5;
            font-family: $font-2;
        }
    }

    .single-footer {
        padding-left: 10px;
        h3 {
            color: $color-w;
            font-size: $midium-s-font;
            font-style: normal;
            font-weight: $semibold;
            line-height: 30px; /* 125% */
            text-transform: capitalize;
            font-family: $font-1;
            padding-bottom: 20px;

            @media #{$md} {
                margin-top: 20px;
            }
            @media #{$xs} {
                margin-top: 20px;
            }
        }
        ul {
            li{
                a {
                    color: rgba(255, 255, 255, 0.90);
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $regular;
                    line-height: 26px; /* 162.5% */
                    display: inline-block;
                    padding-bottom: 16px;
                    transition: 0.3s;
                    font-family: $font-2;
                    &:hover {
                        color: $color-w;
                        transition: 0.3s;
                        margin-left: 5px;
                    }
                }
            }
        }

        .footer-contact-box {
            display: flex;
            align-items: start;
            .footer-contact-icon {
                margin-right: 10px;
                a {
                    color: $color-w;
                    display: inline-block;
                }
            }
            .footer-contact-hadding {
                a {
                    color: $pera-color1;
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $regular;
                    line-height: 26px; /* 162.5% */
                    font-family: $font-2;
                }
            }
        }
    }
    .social {
        ul {
            li{
                display: inline-block;
                padding: 0 3px;
                a{
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                    border: 1px solid #224B8C;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    color: $color-w;
                    transition: 0.3s;
                    
                    &:hover {
                        background-color: $color-w;
                        transition: 0.3s;
                        border: 1px solid $color-w;
                        color: #0A377F;
                    }
                }
            }
        }
    }

    .copyright2 {
        border-top: 1px solid #2F5592;
        padding: 16px 0;
        .headding1-w {
            p {
                padding: 16px 0;
                font-weight: $medium;
                @media #{$xs} {
                    text-align: start !important;
                }
            }
        }
    }


}

//******* footer style 2 ********


//******* footer style 3 ********

.cta3 {
    background-color: $bg-colro1;

    .headding1-w {
        h1 {
            font-weight: $medium;
        }
    }
    .cta1-form {
        z-index: 3;
        position: relative;
        .cta1-form-input {
            input {
                padding: 18px;
                border: none;
                border-radius: 5px;
                width: 60%;
                @media #{$xs} {
                    width: 100%;
                }
            }
        }
        .cta1-button {
            position: absolute;
            top: 4px;
            right: 175px;

            @media #{$md} {
                right: 138px;
            }

            @media #{$xs} {
                right: 0;
            }
            .theme-btn1.theme-btn-cta {
                border: none;
                border-radius: 0px 5px 5px 0px;
            }
        }
    }

    .cta1-shape {
        position: absolute;
        top: 60px;
        right: 0;
    }
}

.footer-area3 {
    background-color: $bg-colro1;

    .hadding1-w {
        p {
            color: #CED7E5;
        }
    }

    .single-footer {
        padding-left: 10px;
        h3 {
            color: $color-w;
            font-size: $midium-s-font;
            font-style: normal;
            font-weight: $medium;
            line-height: 30px; /* 125% */
            text-transform: capitalize;
            font-family: $font-1;
            padding-bottom: 20px;
        }
        ul {
            li{
                a {
                    color: rgba(255, 255, 255, 0.90);
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $regular;
                    line-height: 26px; /* 162.5% */
                    display: inline-block;
                    padding-bottom: 16px;
                    transition: 0.3s;
                    font-family: $font-4;
                    &:hover {
                        color: $color-w;
                        transition: 0.3s;
                        margin-left: 5px;
                    }
                }
            }
        }

        .footer-contact-box {
            display: flex;
            align-items: start;
            .footer-contact-icon {
                margin-right: 10px;
                a {
                    color: $color-w;
                    display: inline-block;
                }
            }
            .footer-contact-hadding {
                a {
                    color: $pera-color1;
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $regular;
                    line-height: 26px; /* 162.5% */
                    font-family: $font-4;
                }
            }
        }
    }
    .social {

        
        ul {
            @media #{$xs} {
                padding-bottom: 20px;
            }
            li{
                display: inline-block;
                padding: 0 3px;
                a{
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                    border: 1px solid #ffffff2c;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    color: $color-w;
                    transition: 0.3s;
                    
                    &:hover {
                        background-color: $color-w;
                        transition: 0.3s;
                        border: 1px solid $color-w;
                        color: #0A377F;
                    }
                }
            }
        }
    }

    .copyright2 {
        border-top: 1px solid rgba(255, 255, 255, 0.116);
        padding: 16px 0;
        .headding1-w {
            p {
                padding: 16px 0;
                font-weight: $medium;

                @media #{$xs} {
                    text-align: start !important;
                }
            }
        }
    }
}

//******* footer style 3 ********



//******* footer style 4 ********

.footer-area4-all {
    background-color: $bg-color4;
}
.cta4-area {
    padding: 80px 0px 60px 0px;
    border-bottom: 1px solid #233759;

    .headding2-w {
        h2 {
            font-family: $font-5;
        color: $color-w;
        font-size: $headding-font;
        font-style: normal;
        font-weight: $semibold;
        line-height: 54px; /* 122.727% */
        }

        p {
            color: rgba(255, 255, 255, 0.80);
            font-family: $font-6;
            font-size: $smoll-font;
            font-style: normal;
            font-weight: $medium;
            line-height: 26px; /* 162.5% */
        }
    }

    .cta-form2 {
        text-align: end;
        position: relative;
        input {
            padding: 15px 24px;
            width: 70%;
            border-radius: 35px;
            background: #ffffff3a;
            border: none;
            color: $color-w;
            margin-left: 150px;

            @media #{$md} {
                width: 100%;
                margin-left: 0;
          }

          @media #{$xs} {
            width: 100%;
            margin-left: 0;
      }
            

            &::placeholder {
                color: $color-w;
            }
        }

        .cta2-btn {
            position: absolute;
            right: 0;
            top: 0;
        }

        @media #{$md} {
              text-align: start; 
              margin-top: 30px; 
        }

        @media #{$xs} {
            text-align: start; 
            margin-top: 30px; 
      }
    }

}




.footer-area4 {
    padding-top: 60px;
    .hadding2-w {
        p {
            color: #CED7E5;
            font-family: $font-6;
        }
    }

    .single-footer {
        padding-left: 10px;
        h3 {
            color: $color-w;
            font-size: $midium-s-font;
            font-style: normal;
            font-weight: $semibold;
            line-height: 30px; /* 125% */
            text-transform: capitalize;
            font-family: $font-5;
            padding-bottom: 20px;

            @media #{$md} {
                margin-top: 20px;
            }
            @media #{$xs} {
                margin-top: 20px;
            }
        }
        ul {
            li{
                a {
                    color: rgba(255, 255, 255, 0.90);
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $regular;
                    line-height: 26px; /* 162.5% */
                    display: inline-block;
                    padding-bottom: 16px;
                    transition: 0.3s;
                    font-family: $font-6;
                    &:hover {
                        color: $color-w;
                        transition: 0.3s;
                        margin-left: 5px;
                    }
                }
            }
        }

        .footer-contact-box {
            display: flex;
            align-items: start;
            .footer-contact-icon {
                margin-right: 10px;
                a {
                    color: $color-w;
                    display: inline-block;
                }
            }
            .footer-contact-hadding {
                a {
                    color: $pera-color1;
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $regular;
                    line-height: 26px; /* 162.5% */
                    font-family: $font-6;
                }
            }
        }
    }
    .social {
        ul {
            li{
                display: inline-block;
                padding: 0 3px;
                a{
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                    border: 1px solid #233759;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    color: $color-w;
                    transition: 0.3s;
                    
                    &:hover {
                        background-color: $color-w;
                        transition: 0.3s;
                        border: 1px solid $color-w;
                        color: #0A377F;
                    }
                }
            }
        }
    }

    .copyright2 {
        border-top: 1px solid #233759;
        padding: 16px 0;
        .headding1-w {
            p {
                padding: 16px 0;
                font-weight: $medium;

                @media #{$xs} {
                    text-align: start !important;
                }

            }
        }
    }


}

//******* footer style 4 ********


//******* footer style 5 ********


.footer-area5-all {
    background-color: $bg-color7;
}

.cta5 {

    .cta5-area {
        padding: 80px 0px 10px 0px;
    
        .headding {
            h2 {
                font-family: $font-7;
                color: $color-w;
                font-size: $headding-font;
                font-style: normal;
                font-weight: $semibold;
                line-height: 52px; /* 122.727% */
                @media #{$md} {
                    font-size: 32px;
                    line-height: 40px;
                }

                @media #{$xs} {
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            p {
                color: rgba(255, 255, 255, 0.80);
                text-align: center;
                font-size: $smoll-font;
                font-style: normal;
                font-weight: $medium;
                line-height: 26px; /* 162.5% */
            }
        }
    
        .cta-form2 {
            text-align: end;
            position: relative;
            text-align: center;
            margin: 30px 60px 0 30px;

            @media #{$md} {
                margin: 31px 97px 0px 72px;
            }

            @media #{$xs} {
                margin: 0;
            }

            
            input {
                padding: 30px 20px;
                width: 70%;
                border-radius: 2px;
                background: $color-w;
                border: none;
                color: $bg-color7;

                

                &::placeholder {
                    color: #2F5592;
                }
    
                @media #{$md} {
                    width: 100%;
                    margin-left: 0;
              }
    
              @media #{$xs} {
                width: 100%;
                margin-left: 0;
          }
                
    
                &::placeholder {
                    color: #444A4B;
                }
            }
    
            .cta2-btn {
                position: absolute;
                right: 110px;
                top: 13px;

                @media #{$md} {
                    right: 25px;
                }
                @media #{$xs} {
                    right: 25px;
                }
            }
    
            @media #{$md} {
                  text-align: start; 
                  margin-top: 30px; 
            }
    
            @media #{$xs} {
                text-align: start; 
                margin-top: 30px; 
          }
        }
    
    }
}



.footer-area5 {
    padding-top: 60px;
    .headding1-w {
        p {
            color: #CED7E5;
            font-weight: $medium !important;
        }
    }

    .single-footer {
        padding-left: 10px;
        h3 {
            color: $color-w;
            font-size: $midium-s-font;
            font-style: normal;
            font-weight: $semibold;
            line-height: 30px; /* 125% */
            text-transform: capitalize;
            font-family: $font-7;
            padding-bottom: 20px;

            @media #{$md} {
                margin-top: 20px;
            }
            @media #{$xs} {
                margin-top: 20px;
            }
        }
        ul {
            li{
                a {
                    color: rgba(255, 255, 255, 0.90);
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $medium;
                    line-height: 26px; /* 162.5% */
                    display: inline-block;
                    padding-bottom: 16px;
                    transition: 0.3s;
                    font-family: $font-6;
                    &:hover {
                        color: $color-w;
                        transition: 0.3s;
                        margin-left: 5px;
                    }
                }
            }
        }

        .footer-contact-box {
            display: flex;
            align-items: start;
            .footer-contact-icon {
                margin-right: 10px;
                a {
                    color: $color-w;
                    display: inline-block;
                }
            }
            .footer-contact-hadding {
                a {
                    color: $pera-color1;
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $regular;
                    line-height: 26px; /* 162.5% */
                    font-family: $font-6;
                }
            }
        }
    }
    .social {
        ul {
            li{
                display: inline-block;
                padding: 0 3px;
                a{
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                    background-color: #ffffff2f;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    color: $color-w;
                    transition: 0.3s;
                    
                    &:hover {
                        background-color: $color-w;
                        transition: 0.3s;
                        border: 1px solid $color-w;
                        color: $bg-color7;
                    }
                }
            }
        }
    }

    .copyright2 {
        border-top: 1px solid #ffffff3f;
        padding: 16px 0;
        .headding1-w {
            p {
                padding: 16px 0;
                font-weight: $medium;

                @media #{$xs} {
                    text-align: start !important;
                }

            }
        }
    }


}



//******* footer style 5 ********

//******* footer style 6 ********




.footer-area6-all {
    background-color: #08171F;
}

.cta6 {

    .cta5-area {
        padding: 80px 0px 10px 0px;
    
        .headding {
            h2 {
                font-family: $font-1;
                color: $color-w;
                font-size: $headding-font;
                font-style: normal;
                font-weight: $semibold;
                line-height: 54px;
                text-transform: capitalize;

                @media #{$md} {
                    font-size: 32px;
                    line-height: 40px;
                }
                @media #{$xs} {
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            p {
                color: #CED1D2;
                text-align: center;
                font-size: $smoll-font;
                font-style: normal;
                font-weight: $medium;
                line-height: 26px;
            }
        }
    
        .cta-form2 {
            text-align: end;
            position: relative;
            text-align: center;
            margin: 30px 60px 0 30px;

            @media #{$md} {
                margin: 31px 97px 0px 72px;
            }

            @media #{$xs} {
                margin: 0;
            }

            
            input {
                padding: 17px 20px;
                width: 75%;
                border-radius: 180px;
                background: $color-w;
                border: none;
                color: $bg-color7;

                &::placeholder {
                    color: #2F5592;
                }
    
                @media #{$md} {
                    width: 100%;
                    margin-left: 0;
              }
    
              @media #{$xs} {
                width: 100%;
                margin-left: 0;
          }
                
    
                &::placeholder {
                    color: #444A4B;
                }
            }
    
            .cta2-btn {
                position: absolute;
                right: 85px;
                top: 4px;

                @media #{$md} {
                    right: 25px;
                }
                @media #{$xs} {
                    right: 25px;
                }
            }
    
            @media #{$md} {
                  text-align: start; 
                  margin-top: 30px; 
            }
    
            @media #{$xs} {
                text-align: start; 
                margin-top: 30px; 
          }
        }
    
    }
}



.footer-area6 {
    padding-top: 60px;
    .headding1-w {
        p {
            color: #CED1D2;
            font-weight: 500 !important;
        }
    }

    .single-footer {
        padding-left: 10px;
        h3 {
            color: $color-w;
            font-size: $midium-s-font;
            font-style: normal;
            font-weight: $semibold;
            line-height: 30px; /* 125% */
            text-transform: capitalize;
            font-family: $font-1;
            padding-bottom: 20px;

            @media #{$md} {
                margin-top: 20px;
            }
            @media #{$xs} {
                margin-top: 20px;
            }
        }

        ul {
            li{
                a {
                    color: #CED1D2;
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $medium;
                    line-height: 26px; /* 162.5% */
                    display: inline-block;
                    padding-bottom: 16px;
                    transition: 0.3s;
                    font-family: $font-6;
                    &:hover {
                        color: $color-w;
                        transition: 0.3s;
                        margin-left: 5px;
                    }
                }
            }
        }

        .footer-contact-box {
            display: flex;
            align-items: start;
            .footer-contact-icon {
                margin-right: 10px;
                a {
                    color: $color-w;
                    display: inline-block;
                }
            }
            .footer-contact-hadding {
                a {
                    color: $pera-color1;
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $medium;
                    line-height: 26px; /* 162.5% */
                    font-family: $font-6;
                }
            }
        }
    }
    .social {
        ul {
            li{
                display: inline-block;
                padding: 0 3px;
                a{
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                    background-color: #ffffff2f;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    color: $color-w;
                    transition: 0.3s;
                    
                    &:hover {
                        background-color: $bg-color10;
                        transition: 0.3s;
                        color: $color-w;
                    }
                }
            }
        }
    }

    .copyright2 {
        border-top: 1px solid #ffffff3f;
        padding: 16px 0;
        .headding1-w {
            p {
                padding: 16px 0;
                font-weight: $medium;

                @media #{$xs} {
                    text-align: start !important;
                }
            }
        }
    }


}


//******* footer style 6 ********

//******* footer style 7 ********


.cta7-area {
    padding: 80px 0px 60px 0px;
    background-color: #0B1E24;
    padding: 60px 40px;
    margin-bottom: -120px;
    position: relative;
    z-index: 9;

    .headding2-w {
       h2 {
        font-family: $font-8;
        color: $color-w;
        font-size: $headding-font;
        font-style: normal;
        font-weight: $regular;
        line-height: 54px; /* 122.727% */
       }

       p {
        font-family: $font-9;
       }
    }

    .cta-form2 {
        text-align: end;
        position: relative;
        input {
            padding: 15px 24px;
            width: 70%;
            border-radius: 35px;
            background: #ffffff3a;
            border: none;
            color: $color-w;
            margin-left: 150px;

            @media #{$md} {
                width: 100%;
                margin-left: 0;
          }

          @media #{$xs} {
            width: 100%;
            margin-left: 0;
      }
            

            &::placeholder {
                color: $color-w;
            }
        }

        .cta2-btn {
            position: absolute;
            right: 0;
            top: 0;
        }

        @media #{$md} {
              text-align: start; 
              margin-top: 30px; 
        }

        @media #{$xs} {
            text-align: start; 
            margin-top: 30px; 
      }
    }

}




.cta7 {
    background-color: #F3F5F6;
}

.footer-area7 {
    padding-top: 200px;
    background-color: $bg-color14;
    .hadding1-w {
        p {
            color: #CED7E5;
        }
    }

    .single-footer {
        padding-left: 10px;
        h3 {
            color: $color-w;
            font-size: $midium-s-font;
            font-style: normal;
            font-weight: $semibold;
            line-height: 30px; /* 125% */
            text-transform: capitalize;
            font-family: $font-8;
            padding-bottom: 20px;
            font-weight: $regular;

            @media #{$md} {
                margin-top: 20px;
            }
            @media #{$xs} {
                margin-top: 20px;
            }
        }
        ul {
            li{
                a {
                    color: rgba(255, 255, 255, 0.90);
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $regular;
                    line-height: 26px; /* 162.5% */
                    display: inline-block;
                    padding-bottom: 16px;
                    transition: 0.3s; 
                    font-family: $font-9;
                    &:hover {
                        color: $color-w;
                        transition: 0.3s;
                        margin-left: 5px;
                    }
                }
            }
        }

        .footer-contact-box {
            display: flex;
            align-items: start;
            .footer-contact-icon {
                margin-right: 10px;
                a {
                    color: $color-w;
                    display: inline-block;
                }
            }
            .footer-contact-hadding {
                a {
                    color: $pera-color1;
                    font-size: $smoll-font;
                    font-style: normal;
                    font-weight: $regular;
                    line-height: 26px; /* 162.5% */
                    font-family: $font-9;
                }
            }
        }
    }
    .social {
        ul {
            li{
                display: inline-block;
                padding: 0 3px;
                a{
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                    border: 1px solid #ffffff34;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    color: $color-w;
                    transition: 0.3s;
                    
                    &:hover {
                        background-color: $color-w;
                        transition: 0.3s;
                        border: 1px solid $color-w;
                        color: #0A377F;
                    }
                }
            }
        }
    }

    .copyright2 {
        border-top: 1px solid #ffffff49;
        padding: 16px 0;
        .headding1-w {
            p {
                padding: 16px 0;
                font-weight: $medium;

                @media #{$xs} {
                    text-align: start !important;
                }
            }
        }
    }

}

//******* footer style 7 ********
